/* @import url(https://raw.githubusercontent.com/JanoAngulo/TambayDiscordTheme/refs/heads/main/quickCss.css); */
/* Ctrl + shift + i = open discord console */

:root {
    --tambay-primary: #dc794e;
    --tambay-secondary: #613e31;
    --tambay-tertiary: #f2af45;
    --background-modifier-active: #352c28;
}

/* Read All Button Fix */
.vc-ranb-button {
    border: 0;
}

/* Hideous Panel Fix */
._5e434347c823b592-panels {
    border-radius: unset;
    left: 0;
    bottom: 0;
    width: 100%;

    /* .flex__7c0ba {
        height: fit-content !important;
    }

    .rtcConnectionStatus__06d62 {
        height: fit-content !important;
    } */
}

/* useless-important-infos */
[aria-label="welcome (channel)"],
[aria-label="announcements (channel)"],
[aria-label="introduce-yourself (channel)"],
[aria-label="free-games (channel)"],
[aria-label="ranks (channel)"],

/* Administrator Only */
[aria-label="audit-logs (channel)"],
[aria-label="private-saves (channel)"],
[aria-label="principals (channel)"],

/* Gawa Laro */
[aria-label="project-1 (channel)"],
[aria-label="p1-brainstorm (channel)"],
[aria-label="p1-concept-art (channel)"],
[aria-label="p1-storyboard (channel)"],
[aria-label="p1-game-mechanics (channel)"],
[aria-label="p1-sound-design (channel)"],
[aria-label="p1-references (channel)"],

/* Kings & Queens */
[aria-label="voice-chat (channel)"],
[aria-label="nsfw (channel)"],
[aria-label="council-of-six (channel)"],
[aria-label="council-saves (channel)"],
[aria-label="pandoras-box (channel)"],
[aria-label="clipped-voices (channel)"],
[aria-label="instant-replays (channel)"],
[aria-label="bot-commands-◉_◉ (channel)"],
[aria-label="random-tots (channel)"],

/* Dank Stuff */
[aria-label="dank-memes-💩 (channel)"],
[aria-label="wholesome-posting (channel)"],
[aria-label="share-videos (channel)"],
[aria-label="bot-commands-◉_◉ (channel)"],

/* Games Stuff */
[aria-label="games🎮🎮 (channel)"],
[aria-label="genshin-notes (channel)"],
[aria-label="hsr-notes (channel)"],
[aria-label="genshin-wizard (channel)"],
[aria-label="league-patch-notes (channel)"],
[aria-label="overwatch-notes (channel)"],
[aria-label="mc-notes (channel)"],
[aria-label="pso2-notes (channel)"],
[aria-label="minecraft (channel)"],
[aria-label="monster-hunter (channel)"],
[aria-label="pso2 (channel)"],
[aria-label="aq-ni-kurt (channel)"],
[aria-label="play-chess (channel)"],
[aria-label="terraria (channel)"],
[aria-label="project-zomboid🧟‍♂️ (channel)"],
[aria-label="bpsr (channel)"],


/* Overview */
[aria-label="general👨👩 (channel)"],
[aria-label="suggestions (channel)"],
[aria-label="tier-list (channel)"],



/* Game Channel */
[aria-label="voice-chat (channel)"],

/* Study Room */
[aria-label="study📘📗📖 (channel)"],

/* Solitary Confinement */
[aria-label="cotton-fields (channel)"] {

    /* Thread Bar <hr/> Color */
    ._5126c0cd07f243a0-hasContent {
        border-top: thin solid var(--tambay-secondary) !important;
    }

    /* Chat Timestamp Color */
    .c19a557985eb7793-timestamp {
        color: var(--tambay-tertiary) !important;
    }

    /* New Message Bar */
    ._0f481cbbd7530492-newMessagesBar._0f481cbbd7530492-barBase {
        background-color: var(--tambay-primary);
    }
}

/* Top Bar Shade  */
.base_c48ade:has([aria-label="Tambay sa Skwela (server)"]) .bar_c38106 {
    background: linear-gradient(90deg, #121214 10%, var(--tambay-tertiary) 50%, #121214 90%) !important;

    .icon_f34534 {
        border-radius: 999px !important;
        border: 1px solid var(--tambay-secondary);
    }

    .defaultColor__4bd52 {
        color: #121214 !important;
    }

    svg {
        color: white !important;
    }
}

/* Subtitle Container Bar - The one with Search */
._5e434347c823b592-sidebar:has([aria-label="Tambay sa Skwela (server)"])~._5e434347c823b592-page {
    .f75fb00fb7356cbe-subtitleContainer {
        ._9293f6b2fc12398a-children {
            ._9293f6b2fc12398a-titleWrapper {
                h1 {
                    color: var(--tambay-tertiary) !important;
                }
            }

            svg {
                color: var(--tambay-tertiary) !important;
            }
        }
    }
}

/* Sidebar Right */
[aria-label="council-of-six (channel)"]~.c8ffbb79449f399c-container {
    ._5d473ecff348c314-premiumIcon path {
        fill: var(--tambay-tertiary) !important;
    }

    .c8ffbb79449f399c-membersGroup:not(:first-of-type) {
        color: var(--tambay-primary) !important;
    }
}

/* Sidebar Left  */
[aria-label="Tambay sa Skwela (server)"] {

    /* Mic Activity Border Color */
    ._07f9193042954787-content:has(._07f9193042954787-usernameSpeaking) ._55bab3f0b2555838-userAvatar {
        box-shadow:
            inset 0 0 0 2px var(--tambay-tertiary),
            inset 0 0 0 3px var(--background-base-lower) !important;
    }


    /* Live Icon */
    .a7acaedd978a9637-live {
        background-color: var(--tambay-tertiary) !important;
        color: var(--tambay-secondary);
    }

    /* Chiplet Container */
    ._10651c5cfe637db6-chipletContainerInner {
        background-color: var(--tambay-primary);
    }

    /* Chiplet Container Hover */
    ._07f9193042954787-voiceUser :hover {
        ._10651c5cfe637db6-chipletContainerInner {
            background-color: var(--tambay-primary) !important;
        }
    }

    /* Add Button Icon */
    ._29444ba32c7fbeab-iconVisibility,
    ._29444ba32c7fbeab-addButton {
        color: var(--tambay-tertiary);
    }

    /* Boost BG Gradient Hover */
    ._0d0f9ddd12a3ace3-container:hover {
        ._0d0f9ddd12a3ace3-progress {
            background-image: linear-gradient(90deg, var(--tambay-primary), var(--tambay-tertiary));
        }
    }

    /* Boost BG Gradient */
    ._0d0f9ddd12a3ace3-progress {
        background-image: linear-gradient(90deg, var(--tambay-primary), var(--tambay-tertiary));
    }

    /* "New Unreads" */
    ._7aaec78b97ff00f7-bar {
        background-color: var(--tambay-tertiary);
    }

    /* "New Unreads" Text */
    ._7aaec78b97ff00f7-unreadIcon,
    ._7aaec78b97ff00f7-barText {
        background-color: var(--tambay-tertiary);
        color: var(--tambay-secondary) !important;
    }

    /*  Channel Containers e.g. "Kings & Queens o(*￣▽￣*)ブ" */
    ._29444ba32c7fbeab-containerDefault {
        ._29444ba32c7fbeab-wrapper:hover .icon__29444 {
            color: var(--tambay-primary) !important;
        }

        /* Channel Bar */
        ._29444ba32c7fbeab-mainContent {
            color: var(--tambay-primary);

            /* Channel Name Color */
            .b0dfc2ed9c57037d-overflow {
                color: var(--tambay-primary);
            }
        }
    }

    /* Tambay sa Skwela left icon */
    ._3e3b0b1c0f688f9e-flowerStar {
        path {
            fill: var(--tambay-tertiary) !important;
        }
    }

    /* Scrollbar Color (Currently Not Available) */
    .thin__99f8c::-webkit-scrollbar-thumb {
        background-color: var(--tambay-primary);
    }

    /* Unread Channels Text Color */
    ._2ea32c412048f708-modeUnreadImportant ._2ea32c412048f708-name {
        color: var(--tambay-tertiary) !important;
    }

    /* Unread Channels Text Color Hover */
    ._2ea32c412048f708-modeUnreadImportant:hover {
        svg path {
            fill: var(--tambay-tertiary) !important;
        }

        color: var(--tambay-tertiary) !important;
    }


    /* Unread Channels left Nub */
    ._2ea32c412048f708-unreadImportant {
        background-color: var(--tambay-tertiary) !important;
    }

    /* Current Not Available */
    /* .container_eff079:hover .progressBar_eff079 {
        background: linear-gradient(90deg, var(--tambay-primary), var(--tambay-tertiary));
    } */

    /* Current Not Available */
    /* .progressBar_eff079 {
        background: linear-gradient(90deg, var(--tambay-primary), var(--tambay-tertiary));
    } */

    /* Events, Browse Channels, Members, Server Boosts */
    ._2ea32c412048f708-icon {
        color: var(--tambay-tertiary);
    }

    /* Events, Browse Channels, Members, Server Boosts - Hovered */
    ._2ea32c412048f708-modeSelected:hover {
        ._2ea32c412048f708-icon {
            color: var(--tambay-tertiary);
        }

        a {
            background: linear-gradient(90deg, var(--tambay-primary), var(--tambay-tertiary));
        }
    }

    /* Selected Channel BG Color Hover */
    .modeSelected__2ea32 .link__2ea32,
    .modeSelected__2ea32:hover .link__2ea32 {
        background: linear-gradient(90deg, var(--tambay-primary), var(--tambay-tertiary));
    }


    .link__2ea32 {
        .icon__2ea32.iconLive_c69b6d {
            color: white !important;
        }

        .tabularNumbers__4bd52 {
            color: white !important;
        }
    }

    /* Selected Channel Text and Icons Color */
    ._2ea32c412048f708-modeSelected {
        a {
            background: linear-gradient(90deg, var(--tambay-primary), var(--tambay-tertiary));
        }

        /* border-radius: var(--radius-sm); */

        /* .linkBottom__2ea32 {
            div {
                color: white;
            }
        } */

        ._2ea32c412048f708-icon {
            color: white !important;
        }

        ._2ea32c412048f708-children {
            .actionIcon_c69b6d {
                color: white;
            }
        }

        /* .wrapper__2ea32:hover {
            background-color: white !important;
        } */

        /* .name__2ea32 {
            color: white;
        } */

        ._5cda953df16118b0-pencilIcon,
        ._5cda953df16118b0-statusText {
            color: white;
        }

        ._4bd5201c86a2042b-tabularNumbers {
            color: white !important;
        }
    }

    /* Connected Channel Text and Icons Color */
    ._2ea32c412048f708-modeConnected {
        ._4bd5201c86a2042b-tabularNumbers {
            color: var(--tambay-tertiary) !important;
        }

        ._2ea32c412048f708-icon {
            color: var(--tambay-tertiary) !important;
        }
    }
}
